/* 
common
 *************************************/
 html{
    margin: -8% auto;     
    height: auto;
 }
 
 header{
     width: 172%;
     font-weight: bolder;
    font-size: xx-large;
     
 }

 body{
     height: 100%;
     margin: 10%;
     background-color:rgb(230, 208, 180) 
 }
 
 .tweet_post{
     font-size: 20px;
     font-weight: bolder;
 }
 .content{
     /* max-width: 6000px; */
     height: 100%;
     border-left: 1px solid black;
     border-right: 1px solid black;
 }
  /* 
  Post 
  ******************** */
 .tweets ul{
     padding: 0.5em; ;
    border: bottom 0.2em;;
 
 }

 form{
     margin: 3% ;
     border-bottom: blue;
     border-width: 2em;
 }
  .tweets li {
    display: flex;
    border-bottom: 3px solid black;
    /* width: 20%; */
    grid-auto-columns: auto;

}
  .tweets li .logo {
 
      flex-basis: 15%;
  }
 
  /* .tweets li .logo img{
      width: 60%;
  }  */
   .tweets li .name{
      flex-basis: 85%;
      font-weight: bolder;

  } 
  .tweets li .name_body {
      color: gray;
  }
  @media screen and (max-width: 500px){
      .posts li .name_body .name {
          font-size: 20px;
      }
 
      
  }
.contact{
    width: 100%;
}
  .contact_post{
      height: 80px;
      width: 100%;    

  }

  .contact_image{
      width: fit-content;
  }

  /* EDIT */

  .edit_post {
      height: auto;
      width: auto;
  }