/* 
common
 *************************************/
 html,
 body{
     height: 100%;
     margin-left: 5% ;
 
 }
 .tweet_post{
     font-size: 20px;
     margin: 20px;
    
 }
 .content{
     max-width: 6000px;
     height: 100%;
     margin: 2px auto;
     border-left: 1px solid black;
     border-right: 1px solid black;
 }
  /* 
  tweet 
  ******************** */
 .tweets ul{
     padding: 0;
 
 }
 
  .tweets li {
      display: flex;
      padding: 17px;
     border-bottom: 1px solid black;
  }
  header  .logo {
    position: absolute;
      flex-basis: 15%;
  }
 
  .tweets li .logo img{
      width: 60%;
  } 
   .tweets li .name_body{
      flex-basis: 85%;
  } 
  
  .tweets li .name_body .datetime{
      color: gray;
  }
 .tweets li .profile{
     
    width: 17%;
    height: 120px;
    padding: 8px;

 }
  .tweets li .menu_icon{
    width: 20px;
    position: absolute;
    top: 40px;
    right: 15px;
    /* border: 1px solid cornsilk; */
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
    list-style: none;
    text-decoration: none;

}
.tweets li .menu{
  position: absolute;
  top: 40px;
  right: 15px;
  border: 1px solid cornsilk;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
  background-color: white;
}
  .tweets li .menu a{
    text-decoration: none;
}


  @media screen and (max-width: 500px){
      .tweets li .name_body .name {
          font-size: 20px;
      }
 
      
  }
   
.contact{
    width: 100%;
}
  .contact_post{
      height: 80px;
      width: 100%;    

  }

  .contact_image{
      width: fit-content;
  }

  /* EDIT */

  .edit_post {
      height: auto;
      width: auto;
  }