{% extends "base.html" %} {% block content %} 
{% load static %}


 <h3>
    <div class="cont">
      <link img class="contact_image" src="{% static 'img/home.png' %}"></img>
      <a href="{% url 'Tweet' %}">Home</a>
      <a href="{% url 'contacts' %}">Contact</a>
    
    </div>
 </h3>
<section class="contact">
    <section class="contact_post">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" name="name" placeholder="Name" required><br>
          <br>
          <textarea name="body" name="Post here " placeholder="Email" required></textarea><br>
          <!-- <input type="file" value="add image" name='image'> -->
          <!-- {{ form.image}}{{ form.image}} -here type is file is type so commented that ->
-->
          <input type="email"  name="email" placeholder="Tell us something!"><br>
          <input type="submit" value="Contact" style="background-color:black;width: 10%; color: white;">


        </form>
    </section>
 
</section>

{% endblock %}